/* body{
    background: aqua;
} */
#container ,#play{
    
    width:75%;
    margin:auto;
    
}
#container{
    display: flex;
    height: 30vh;
    background: rgb(57, 175, 175);
    border: 1px solid black;
}
#container>div{
    border: 1px solid black;
    width:8%;
    margin: 1%;
    margin-top: 10px;
}
#container {
    transform: rotate(180deg);
    transform: scaleY(-1);
}
#play>div{
    margin:auto;
    padding: 10px;
    /* border: 2px solid sienna; */
    width: 71px;
}
button{
    width:70px; 
}
canvas{
    border: 1px solid black;
    
}